body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
    font-size: 0.9em;
}

.hex {
    font-size: 0.9em;
}
.Btn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #eeeeee;
    border-radius: 7px;
    color: #eeeeee;
    background: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}

.Btn:hover{
    background: green;
}